# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Banco local de desenvolvimento
*.db
*.sqlite3

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
